 <!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <p class="brand"><h2>Yearbook</h2></p>
    <ul class="nav">
      <li class="active"><a href="/usuarios">Home</a></li>
      <li class="divider-vertical"><a href="/usuarios/new">Cadastro</a></li>
      <li class="divider-vertical"><a href="#">Login</a></li>
    </ul>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="span9"><%= yield %></div>
</div>

</body>
</html>
